@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Raleway:wght@500&display=swap&family=Satisfy&display=swap&family=Playfair+Display+SC:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
.logo {
  background-color: #202020;
  text-align: center;
}
.logo a{
  font-size: 3.5rem;
  text-shadow:
  0px 0px 50px #ff0095,
  0px 0px 30px #ff0095,
  0px 0px 10px #ff0095,
  0px 0px 5px #ff0095;
  transition: 600ms;
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Oleo Script Swash Caps', cursive;
}
.logo a:hover {
  color: #ff0095;
  text-shadow:
  0px 0px 50px #ffffff,
  0px 0px 30px #ffffff,
  0px 0px 10px #ffffff,
  0px 0px 5px #ffffff;
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Oleo Script Swash Caps', cursive;
}
.logo a:active {
  color: #ffe760;
  text-shadow:
  0px 0px 50px #ff0095,
  0px 0px 30px #ff0095,
  0px 0px 10px #ff0095,
  0px 0px 5px #ff0095;
  /* font-family: 'Playfair Display SC', serif; */
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Oleo Script Swash Caps', cursive;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.navbar {
  background: linear-gradient(50deg, #ff0095, #ff3232, #ff8c00);
}
.navList {
  list-style: none;
  padding: 15px 0 15px 0;
}
.navItem {
  display: inline-block;
}
.navItem a {
  
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  transition: 800ms;
}
.navItem a:hover {
  background-color: #ffffff;
  color: #ff0095;
  font-weight: bold;
}
.heading {
  font-family: 'Playfair Display SC', serif;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(50deg, #ff0095, #ff3232, #ff8c00);
  padding: 10px;
  text-shadow:
  2px 2px 2px #615200;
}
.foot {
  color: #ffffff;
  font-family: monospace;
  font-size: 150%;
  background: linear-gradient(50deg, #ff0095, #ff3232, #ff8c00);
  text-align: center;
  padding: 10px;
}
.heart {
  color: yellow;
}
.home {
  width: auto;
  height: auto;
  /* border: 5px solid yellow; */
  display: flex;
  justify-content: center;
}
.welcome {
  padding: 20px;
  color: #ffffff;
  text-shadow:
  0px 0px 50px #ff0095,
  0px 0px 30px #ff0095,
  0px 0px 10px #ff0095,
  0px 0px 10px #ff0095,
  0px 0px 5px #ff0095,
  0px 0px 2px #ff0095;
  font-size: 250%;
  font-family: 'Satisfy', cursive;
}
.welcome-me {
  padding: 20px;
  color: #ffffff;
  text-shadow:
  0px 0px 50px #ff0000,
  0px 0px 30px #ff0000,
  0px 0px 10px #ff0000,
  0px 0px 10px #ff0000,
  0px 0px 5px #ff0000,
  0px 0px 2px #ff0000;
  font-size: 200%;
  font-family: 'Satisfy', cursive;
}
.progress {
  padding: 20px;
  color: #ffffff;
  text-shadow:
  0px 0px 50px #ffaa00,
  0px 0px 30px #ffaa00,
  0px 0px 10px #ffaa00,
  0px 0px 10px #ffaa00,
  0px 0px 5px #ffaa00,
  0px 0px 2px #ffaa00;
  font-size: 250%;
  font-family: 'Satisfy', cursive;
}
.form {
  text-align: center;
}
label {
  display: block;
  font-family: 'Satisfy', cursive;
  text-shadow: 
  0 0 10px #ff0095,
  0 0 9px  #ff0095,
  0 0 8px  #ff0095,
  0 0 7px  #ff0095,
  0 0 5px  #ff0095,
  0 0 2px  #ff0095,
  0 0 2px  #ff0095,
  0 0 2px  #ff0095,
  0 0 2px  #ff0095,
  0 0 2px  #ff0095;
  color: #fff;
  font-size: 150%;
}

input, textarea, input[type="button"] {
  border: none;
  margin: 10px;
  padding: 5px;
  width: 250px;
  font-family: cursive;
  background: linear-gradient(120deg, #ffa2d8, #ffc278);
  box-shadow:
  0px 0px 10px #ffaa00,
  0px 0px 10px #ffaa00,
  0px 0px 5px #ffaa00,
  0px 0px 2px #ffaa00;
  border-radius: 7px;
}
input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus, input:checked {
  border: none;
  outline: none;
  background: linear-gradient(120deg, #ffa2d8, #ffc278);
  color: black;
  margin: 10px;
  padding: 5px;
  box-shadow:
  0px 0px 10px #ff0095,
  0px 0px 10px #ff0095,
  0px 0px 5px #ff0095,
  0px 0px 2px #ff0095;
}
input[type="button"] {
  width: 100px;
  height: auto;
  font-size: 110%;
  cursor: pointer;
}
input[type="button"]:hover {
  text-shadow: 
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095,
  0 0 2px #ff0095;
  color: #fff;
}
article {
  padding: 10px;
}

/* table */
th {
  /* text-align: center; */
  padding: 20px;
}
td {
  /* text-align: center; */
  padding: 10px;
}
tr {
  border: 2px solid red;
}